<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Personality Prediction System</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin/postJobInfo"
          >Post Job</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin/viewJobPosted">View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin/edit-job">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin/help">Help</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin/feedBack">Feedback</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
  <a class="nav" href="#">
    <img src="../../assets/img/images.jpg" width="500" height="58" alt="" />
  </a>
</nav>
