<div class="bg-light">
  <app-header></app-header>
  <!-- https://technext.github.io/space-dynamic/assets/images/services-left-image.png -->
  <!-- https://technext.github.io/space-dynamic/assets/images/banner-right-image.png -->
  <!-- https://technext.github.io/space-dynamic/assets/images/about-left-image.png -->
  <!-- https://technext.github.io/space-dynamic/assets/images/big-blog-thumb.jpg -->

  <!-- Background image -->
  <!-- https://technext.github.io/space-dynamic/assets/images/contact-bg.png -->

  <div
    class="row align-items-center justify-content-center"
    style="margin-top: 5em"
  >
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="divprop">
        <img
          src="https://technext.github.io/nitro2/images/hero_1.jpg"
          class="img-fluid"
        />
      </div>
      <div class="divbg">
        <div class="main-banner">
          <button class="profile-btn" routerLink="/profile">My profile</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="divprop">
        <img
          src="https://www.prewebsolution.com/copa/images/content3.jpeg"
          class="img-fluid"
        />
      </div>
      <div class="divbg">
        <div class="main-banner">
          <button class="profile-btn">Search Jobs</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="divprop">
        <img
          src="https://www.prewebsolution.com/copa/images/team.jpeg"
          class="img-fluid"
        />
      </div>
      <div class="divbg">
        <div class="main-banner">
          <button class="profile-btn" routerLink="/applied-jobs">
            Applied Jobs
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="divprop">
        <img
          src="https://www.prewebsolution.com/copa/images/laptop2.jpeg"
          class="img-fluid"
        />
      </div>
      <div class="divbg">
        <div class="main-banner">
          <button class="profile-btn">Add Review</button>
        </div>
      </div>
    </div>
  </div>
</div>
