<div class="container-fluid background">
  <app-header></app-header>
  <p-table
    #datatable
    [columns]="cols"
    [value]="dataSource"
    responsiveLayout="scroll"
    [paginator]="true"
    [rows]="10"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 25, 50]"
    [globalFilterFields]="[
      'jobCode',
      'position',
      'primarySkill',
      'secondarySkill',
      'otherSkill',
      'responsebilities',
      'experience',
      'location',
      'salary'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <button
          pButton
          label="Clear"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clear(datatable)"
        ></button>
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="datatable.filterGlobal($event.target.value, 'contains')"
            placeholder="Search keyword"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="jobCode">
          Job Code <p-sortIcon field="jobCode"></p-sortIcon>
        </th>
        <th pSortableColumn="position">
          Job Position <p-sortIcon field="position"></p-sortIcon>
        </th>
        <th pSortableColumn="primarySkill">
          Primary Skill <p-sortIcon field="primarySkill"></p-sortIcon>
        </th>
        <th pSortableColumn="secondarySkill">
          Secondary Skill <p-sortIcon field="secondarySkill"></p-sortIcon>
        </th>
        <th pSortableColumn="otherSkill">
          Other Skills <p-sortIcon field="otherSkill"></p-sortIcon>
        </th>
        <th pSortableColumn="responsebilities">
          Responsebilities <p-sortIcon field="responsebilities"></p-sortIcon>
        </th>
        <th pSortableColumn="experience">
          Expe Required <p-sortIcon field="experience"></p-sortIcon>
        </th>
        <th pSortableColumn="location">
          Location <p-sortIcon field="location"></p-sortIcon>
        </th>
        <th pSortableColumn="salary">
          Salary <p-sortIcon field="salary"></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
          <button
            pButton
            pRipple
            label="Apply Job"
            icon="pi pi-plus"
            class="p-button-success p-mr-2"
            (click)="applyjob(rowData)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template> -->
  </p-table>
</div>
