.background {
  margin-top: 3em;
  min-height: 100vh;
  padding-top: 4em;
  // background-image: linear-gradient(
  //   to right,
  //   #1cd8d2 0%,
  //   #93edc7 51%,
  //   #1cd8d2 100%
  // );
  background-image: linear-gradient(
    to right,
    #a80077 0%,
    #66ff00 51%,
    #a80077 100%
  );
}
