<div class="launch-screen">
  <div class="row align-items-center justify-content-center">
    <h4 class="text-center header">Personality Prediction</h4>
    <div class="col-md-5 ovf-hidden">
      <img
        src="https://technext.github.io/jobfinderportal/assets/img/blog/home-blog1.jpg"
        class="img-icon"
      />
      <button class="nav-btn" routerLink="/candidate/login">
        <span>Candidate Login &nbsp;<i class="fal fa-arrow-right"></i></span>
      </button>
    </div>
    <div class="col-md-5 ovf-hidden">
      <img
        src="https://technext.github.io/jobfinderportal/assets/img/blog/home-blog2.jpg"
        class="img-icon"
      />
      <button class="nav-btn" routerLink="/admin/">
        <span>Admin Login &nbsp; <i class="fal fa-arrow-right"></i></span>
      </button>
    </div>
  </div>
</div>
